{
  "swagger": "2.0",
  "info": {
    "title": "OpenSubtitles API",
    "version": "1.0.0"
  },
  "host": "www.opensubtitles.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/infos/languages": {
      "get": {
        "tags": [
          "Infos"
        ],
        "summary": "Languages",
        "description": "Get the languages informations",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Get the languages table containing the codes and names used through the API",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "items": {
                    "required": [
                      "language_code",
                      "language_name"
                    ],
                    "properties": {
                      "language_code": {
                        "type": "string",
                        "minLength": 1
                      },
                      "language_name": {
                        "type": "string",
                        "minLength": 1
                      }
                    }
                  }
                }
              },
              "required": [
                "data"
              ]
            },
            "headers": {},
            "examples": {
              "application/json": {
                "data": [
                  {
                    "language_code": "af",
                    "language_name": "Afrikaans"
                  },
                  {
                    "language_code": "sq",
                    "language_name": "Albanian"
                  },
                  {
                    "language_code": "ar",
                    "language_name": "Arabic"
                  },
                  {
                    "language_code": "an",
                    "language_name": "Aragonese"
                  },
                  {
                    "language_code": "hy",
                    "language_name": "Armenian"
                  },
                  {
                    "language_code": "at",
                    "language_name": "Asturian"
                  },
                  {
                    "language_code": "eu",
                    "language_name": "Basque"
                  },
                  {
                    "language_code": "be",
                    "language_name": "Belarusian"
                  },
                  {
                    "language_code": "bn",
                    "language_name": "Bengali"
                  },
                  {
                    "language_code": "bs",
                    "language_name": "Bosnian"
                  },
                  {
                    "language_code": "br",
                    "language_name": "Breton"
                  },
                  {
                    "language_code": "bg",
                    "language_name": "Bulgarian"
                  },
                  {
                    "language_code": "my",
                    "language_name": "Burmese"
                  },
                  {
                    "language_code": "ca",
                    "language_name": "Catalan"
                  },
                  {
                    "language_code": "zh-CN",
                    "language_name": "Chinese (simplified)"
                  },
                  {
                    "language_code": "cs",
                    "language_name": "Czech"
                  },
                  {
                    "language_code": "da",
                    "language_name": "Danish"
                  },
                  {
                    "language_code": "nl",
                    "language_name": "Dutch"
                  },
                  {
                    "language_code": "en",
                    "language_name": "English"
                  },
                  {
                    "language_code": "eo",
                    "language_name": "Esperanto"
                  },
                  {
                    "language_code": "et",
                    "language_name": "Estonian"
                  },
                  {
                    "language_code": "fi",
                    "language_name": "Finnish"
                  },
                  {
                    "language_code": "fr",
                    "language_name": "French"
                  },
                  {
                    "language_code": "ka",
                    "language_name": "Georgian"
                  },
                  {
                    "language_code": "de",
                    "language_name": "German"
                  },
                  {
                    "language_code": "gl",
                    "language_name": "Galician"
                  },
                  {
                    "language_code": "el",
                    "language_name": "Greek"
                  },
                  {
                    "language_code": "he",
                    "language_name": "Hebrew"
                  },
                  {
                    "language_code": "hi",
                    "language_name": "Hindi"
                  },
                  {
                    "language_code": "hr",
                    "language_name": "Croatian"
                  },
                  {
                    "language_code": "hu",
                    "language_name": "Hungarian"
                  },
                  {
                    "language_code": "is",
                    "language_name": "Icelandic"
                  },
                  {
                    "language_code": "id",
                    "language_name": "Indonesian"
                  },
                  {
                    "language_code": "it",
                    "language_name": "Italian"
                  },
                  {
                    "language_code": "ja",
                    "language_name": "Japanese"
                  },
                  {
                    "language_code": "kk",
                    "language_name": "Kazakh"
                  },
                  {
                    "language_code": "km",
                    "language_name": "Khmer"
                  },
                  {
                    "language_code": "ko",
                    "language_name": "Korean"
                  },
                  {
                    "language_code": "lv",
                    "language_name": "Latvian"
                  },
                  {
                    "language_code": "lt",
                    "language_name": "Lithuanian"
                  },
                  {
                    "language_code": "lb",
                    "language_name": "Luxembourgish"
                  },
                  {
                    "language_code": "mk",
                    "language_name": "Macedonian"
                  },
                  {
                    "language_code": "ml",
                    "language_name": "Malayalam"
                  },
                  {
                    "language_code": "ms",
                    "language_name": "Malay"
                  },
                  {
                    "language_code": "ma",
                    "language_name": "Manipuri"
                  },
                  {
                    "language_code": "mn",
                    "language_name": "Mongolian"
                  },
                  {
                    "language_code": "no",
                    "language_name": "Norwegian"
                  },
                  {
                    "language_code": "oc",
                    "language_name": "Occitan"
                  },
                  {
                    "language_code": "fa",
                    "language_name": "Persian"
                  },
                  {
                    "language_code": "pl",
                    "language_name": "Polish"
                  },
                  {
                    "language_code": "pt-PT",
                    "language_name": "Portuguese"
                  },
                  {
                    "language_code": "ru",
                    "language_name": "Russian"
                  },
                  {
                    "language_code": "sr",
                    "language_name": "Serbian"
                  },
                  {
                    "language_code": "si",
                    "language_name": "Sinhalese"
                  },
                  {
                    "language_code": "sk",
                    "language_name": "Slovak"
                  },
                  {
                    "language_code": "sl",
                    "language_name": "Slovenian"
                  },
                  {
                    "language_code": "es",
                    "language_name": "Spanish"
                  },
                  {
                    "language_code": "sw",
                    "language_name": "Swahili"
                  },
                  {
                    "language_code": "sv",
                    "language_name": "Swedish"
                  },
                  {
                    "language_code": "sy",
                    "language_name": "Syriac"
                  },
                  {
                    "language_code": "ta",
                    "language_name": "Tamil"
                  },
                  {
                    "language_code": "te",
                    "language_name": "Telugu"
                  },
                  {
                    "language_code": "tl",
                    "language_name": "Tagalog"
                  },
                  {
                    "language_code": "th",
                    "language_name": "Thai"
                  },
                  {
                    "language_code": "tr",
                    "language_name": "Turkish"
                  },
                  {
                    "language_code": "uk",
                    "language_name": "Ukrainian"
                  },
                  {
                    "language_code": "ur",
                    "language_name": "Urdu"
                  },
                  {
                    "language_code": "uz",
                    "language_name": "Uzbek"
                  },
                  {
                    "language_code": "vi",
                    "language_name": "Vietnamese"
                  },
                  {
                    "language_code": "ro",
                    "language_name": "Romanian"
                  },
                  {
                    "language_code": "pt-BR",
                    "language_name": "Portuguese (Brazilian)"
                  },
                  {
                    "language_code": "me",
                    "language_name": "Montenegrin"
                  },
                  {
                    "language_code": "zh-TW",
                    "language_name": "Chinese (traditional)"
                  },
                  {
                    "language_code": "ze",
                    "language_name": "Chinese bilingual"
                  },
                  {
                    "language_code": "pm",
                    "language_name": "Portuguese (MZ)"
                  }
                ]
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/api/v1/infos/formats": {
      "get": {
        "summary": "Subtitle Formats",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "List subtitle formats recognized by the API",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "required": [
                    "output_formats"
                  ],
                  "properties": {
                    "output_formats": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "data"
              ]
            },
            "headers": {},
            "examples": {
              "application/json": {
                "data": {
                  "output_formats": [
                    "srt",
                    "sub",
                    "mpl",
                    "webvtt",
                    "dfxp",
                    "txt"
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Infos"
        ]
      }
    },
    "/api/v1/infos/user": {
      "get": {
        "tags": [
          "Infos"
        ],
        "summary": "User Informations",
        "description": "Gather informations about the user authenticated by a bearer token. User information are already sent when user is authenticated, and the remaining downloads is returned with each download, but you can also get these information here.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Get user data",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "allowed_downloads": {
                      "type": "number"
                    },
                    "level": {
                      "type": "string",
                      "minLength": 1
                    },
                    "user_id": {
                      "type": "number"
                    },
                    "ext_installed": {
                      "type": "boolean"
                    },
                    "vip": {
                      "type": "boolean"
                    },
                    "downloads_count": {
                      "type": "number"
                    },
                    "remaining_downloads": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "allowed_downloads",
                    "level",
                    "user_id",
                    "ext_installed",
                    "vip",
                    "downloads_count",
                    "remaining_downloads"
                  ]
                }
              },
              "required": [
                "data"
              ]
            },
            "headers": {},
            "examples": {
              "application/json": {
                "data": {
                  "allowed_downloads": 100,
                  "level": "Sub leecher",
                  "user_id": 66,
                  "ext_installed": false,
                  "vip": false,
                  "downloads_count": 1,
                  "remaining_downloads": 99
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/api/v1/logout": {
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout",
        "description": "Destroy a user token to end a session.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Destroy session and current token",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "headers": {},
            "examples": {
              "application/json": {
                "message": "token successfully destroyed",
                "status": 200
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/api/v1/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login",
        "description": "Create a token to authenticate a user.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "password": {
                  "type": "string",
                  "minLength": 1
                },
                "username": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "password",
                "username"
              ]
            }
          },
          {
            "type": "string",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Create session and token",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "user": {
                  "type": "object",
                  "properties": {
                    "allowed_downloads": {
                      "type": "number"
                    },
                    "level": {
                      "type": "string",
                      "minLength": 1
                    },
                    "user_id": {
                      "type": "number"
                    },
                    "ext_installed": {
                      "type": "boolean"
                    },
                    "vip": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "allowed_downloads",
                    "level",
                    "user_id",
                    "ext_installed",
                    "vip"
                  ]
                },
                "token": {
                  "type": "string",
                  "minLength": 1
                },
                "status": {
                  "type": "number"
                }
              },
              "required": [
                "user",
                "token",
                "status"
              ]
            },
            "headers": {},
            "examples": {
              "application/json": {
                "user": {
                  "allowed_downloads": 100,
                  "level": "Sub leecher",
                  "user_id": 66,
                  "ext_installed": false,
                  "vip": false
                },
                "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJEOU5aaWUyVjhWOU1hTnJVZWVvcEEwWUNoWEt6Wkx3NiIsImV4cCI6MTYwNDM1ODAwMH0.sMibjAFnkcs-HJ4zhdCwBeGrZ_UvzMbgl5NxYV2uALM",
                "status": 200
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/api/v1/discover/popular": {
      "get": {
        "tags": [
          "Discover"
        ],
        "summary": "Popular features",
        "description": "Discover popular features on opensubtitles.com, according to last 30 days downloads.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "All, or language code",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type (movie or tvshow)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "items": {
                    "required": [
                      "id",
                      "type"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      },
                      "type": {
                        "type": "string",
                        "minLength": 1
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "original_title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "imdb_id": {
                            "type": "number"
                          },
                          "tmdb_id": {
                            "type": "number"
                          },
                          "feature_id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "year": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title_aka": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          },
                          "subtitles_counts": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "el": {
                                "type": "number"
                              },
                              "fa": {
                                "type": "number"
                              },
                              "es": {
                                "type": "number"
                              },
                              "ro": {
                                "type": "number"
                              },
                              "ar": {
                                "type": "number"
                              },
                              "ko": {
                                "type": "number"
                              },
                              "pl": {
                                "type": "number"
                              },
                              "sr": {
                                "type": "number"
                              },
                              "si": {
                                "type": "number"
                              },
                              "bn": {
                                "type": "number"
                              },
                              "bg": {
                                "type": "number"
                              },
                              "zh-CN": {
                                "type": "number"
                              },
                              "cs": {
                                "type": "number"
                              },
                              "da": {
                                "type": "number"
                              },
                              "nl": {
                                "type": "number"
                              },
                              "en": {
                                "type": "number"
                              },
                              "fi": {
                                "type": "number"
                              },
                              "fr": {
                                "type": "number"
                              },
                              "de": {
                                "type": "number"
                              },
                              "he": {
                                "type": "number"
                              },
                              "hu": {
                                "type": "number"
                              },
                              "it": {
                                "type": "number"
                              },
                              "ja": {
                                "type": "number"
                              },
                              "mk": {
                                "type": "number"
                              },
                              "ms": {
                                "type": "number"
                              },
                              "no": {
                                "type": "number"
                              },
                              "pt-PT": {
                                "type": "number"
                              },
                              "ru": {
                                "type": "number"
                              },
                              "sv": {
                                "type": "number"
                              },
                              "th": {
                                "type": "number"
                              },
                              "tr": {
                                "type": "number"
                              },
                              "vi": {
                                "type": "number"
                              },
                              "pt-BR": {
                                "type": "number"
                              },
                              "zh-TW": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "id",
                              "el",
                              "fa",
                              "es",
                              "ro",
                              "ar",
                              "ko",
                              "pl",
                              "sr",
                              "si",
                              "bn",
                              "bg",
                              "zh-CN",
                              "cs",
                              "da",
                              "nl",
                              "en",
                              "fi",
                              "fr",
                              "de",
                              "he",
                              "hu",
                              "it",
                              "ja",
                              "mk",
                              "ms",
                              "no",
                              "pt-PT",
                              "ru",
                              "sv",
                              "th",
                              "tr",
                              "vi",
                              "pt-BR",
                              "zh-TW"
                            ]
                          },
                          "url": {
                            "type": "string",
                            "minLength": 1
                          },
                          "img_url": {}
                        },
                        "required": [
                          "title",
                          "original_title",
                          "imdb_id",
                          "tmdb_id",
                          "feature_id",
                          "year",
                          "title_aka",
                          "subtitles_counts",
                          "url"
                        ]
                      }
                    }
                  }
                }
              },
              "required": [
                "data"
              ]
            },
            "headers": {},
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": "693885",
                    "type": "movie",
                    "attributes": {
                      "title": "Revenger",
                      "original_title": "리벤져",
                      "imdb_id": 9426186,
                      "tmdb_id": 557968,
                      "feature_id": "693885",
                      "year": "2019",
                      "title_aka": [
                        "Revenger"
                      ],
                      "subtitles_counts": {
                        "id": 5,
                        "el": 3,
                        "fa": 3,
                        "es": 3,
                        "ro": 3,
                        "ar": 2,
                        "ko": 2,
                        "pl": 2,
                        "sr": 2,
                        "si": 2,
                        "bn": 1,
                        "bg": 1,
                        "zh-CN": 1,
                        "cs": 1,
                        "da": 1,
                        "nl": 1,
                        "en": 1,
                        "fi": 1,
                        "fr": 1,
                        "de": 1,
                        "he": 1,
                        "hu": 1,
                        "it": 1,
                        "ja": 1,
                        "mk": 1,
                        "ms": 1,
                        "no": 1,
                        "pt-PT": 1,
                        "ru": 1,
                        "sv": 1,
                        "th": 1,
                        "tr": 1,
                        "vi": 1,
                        "pt-BR": 1,
                        "zh-TW": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-revenger",
                      "img_url": null
                    }
                  },
                  {
                    "id": "625178",
                    "type": "movie",
                    "attributes": {
                      "title": "Godzilla: King of the Monsters",
                      "original_title": "Godzilla: King of the Monsters",
                      "imdb_id": 3741700,
                      "tmdb_id": 373571,
                      "feature_id": "625178",
                      "year": "2019",
                      "title_aka": [
                        "Godzilla: King of the Monsters",
                        " Годзила: Кралят на чудовищата",
                        " Godzilla II Král monster",
                        " Godzilla II: King of the Monsters",
                        " Γκοτζίλα II: Ο Βασιλιάς των Τεράτων",
                        " Godzilla: Rey de los Monstruos",
                        " Godzilla II : Roi des Monstres",
                        " גודזילה 2: מלך המפלצות",
                        " Godzilla: Kralj zvijeri",
                        " Godzilla II. - A szörnyek királya",
                        " Godzilla II - King of the Monsters",
                        " ゴジラ キング・オブ・モンスターズ",
                        " 고질라: 킹 오브 몬스터",
                        " Godzila 2",
                        " Godzilla: Briesmoņu karalis",
                        " Godzilla II: Król potworów",
                        " Godzilla II: Rei dos Monstros",
                        " Godzilla II: Regele monştrilor",
                        " Годзилла 2: Король монстров",
                        " Godzilla II: Kráľ monštier",
                        " Godzilla 2: Kralj pošasti",
                        " Годзила 2: Краљ чудовишта",
                        " ก็อดซิลล่า 2 ราชันแห่งมอนสเตอร์",
                        " Godzilla II: Canavarlar Kralı",
                        " Ґодзілла II: Король монстрів",
                        " Chúa tể Godzilla: Đế Vương Bất Tử",
                        " 哥斯拉：怪兽之王"
                      ],
                      "subtitles_counts": {
                        "en": 23,
                        "ro": 13,
                        "ar": 12,
                        "cs": 11,
                        "pl": 11,
                        "pt-BR": 11,
                        "hr": 10,
                        "el": 9,
                        "ms": 9,
                        "hu": 8,
                        "id": 8,
                        "es": 8,
                        "nl": 7,
                        "fa": 7,
                        "tr": 7,
                        "pt-PT": 6,
                        "sr": 6,
                        "bg": 5,
                        "he": 5,
                        "vi": 5,
                        "zh-CN": 4,
                        "fr": 4,
                        "no": 4,
                        "et": 3,
                        "de": 3,
                        "ko": 3,
                        "ru": 3,
                        "sl": 3,
                        "zh-TW": 3,
                        "pm": 3,
                        "bn": 2,
                        "fi": 2,
                        "it": 2,
                        "sv": 2,
                        "ze": 2,
                        "da": 1,
                        "hi": 1,
                        "ja": 1,
                        "lt": 1,
                        "ml": 1,
                        "si": 1,
                        "ta": 1,
                        "tl": 1,
                        "th": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-godzilla-king-of-monsters",
                      "img_url": "https://s9.osdb.link/features/8/7/1/625178.jpg"
                    }
                  },
                  {
                    "id": "678025",
                    "type": "movie",
                    "attributes": {
                      "title": "Taxiwala",
                      "original_title": "టాక్సీవాలా",
                      "imdb_id": 8047208,
                      "tmdb_id": 520393,
                      "feature_id": "678025",
                      "year": "2018",
                      "title_aka": [
                        "టాక్సీవాలా",
                        " Taxiwala"
                      ],
                      "subtitles_counts": {
                        "en": 2,
                        "ml": 2,
                        "bn": 1,
                        "hi": 1,
                        "id": 1,
                        "sk": 1,
                        "es": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2018-taxiwaala",
                      "img_url": "https://s9.osdb.link/features/5/2/0/678025.jpg"
                    }
                  },
                  {
                    "id": "701580",
                    "type": "movie",
                    "attributes": {
                      "title": "Dark Phoenix",
                      "original_title": "Dark Phoenix",
                      "imdb_id": 6565702,
                      "tmdb_id": 320288,
                      "feature_id": "701580",
                      "year": "2019",
                      "title_aka": [
                        "X-Men - Dark Phoenix",
                        " Dark Phoenix",
                        " X-Men: Fénix Oscura",
                        " X-Men : Dark Phoenix",
                        " X-Men: Fénix Negra",
                        " X-Men: Dark Phoenix",
                        " X战警：黑凤凰"
                      ],
                      "subtitles_counts": {
                        "ar": 20,
                        "en": 20,
                        "he": 11,
                        "hr": 11,
                        "ro": 11,
                        "pt-BR": 11,
                        "id": 10,
                        "pt-PT": 10,
                        "bg": 9,
                        "cs": 9,
                        "el": 9,
                        "ko": 9,
                        "es": 9,
                        "pl": 8,
                        "sr": 8,
                        "nl": 6,
                        "it": 5,
                        "fa": 5,
                        "zh-CN": 4,
                        "ru": 4,
                        "tr": 4,
                        "vi": 4,
                        "bn": 3,
                        "fr": 3,
                        "ja": 3,
                        "ms": 3,
                        "si": 3,
                        "et": 2,
                        "fi": 2,
                        "hu": 2,
                        "sl": 2,
                        "sv": 2,
                        "uk": 2,
                        "zh-TW": 2,
                        "pm": 2,
                        "bs": 1,
                        "da": 1,
                        "de": 1,
                        "km": 1,
                        "lt": 1,
                        "mk": 1,
                        "no": 1,
                        "sk": 1,
                        "so": 1,
                        "ta": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-dark-phoenix",
                      "img_url": "https://s9.osdb.link/features/0/8/5/701580.jpg"
                    }
                  },
                  {
                    "id": "607934",
                    "type": "movie",
                    "attributes": {
                      "title": "Kshanam",
                      "original_title": "క్షణం",
                      "imdb_id": 5504168,
                      "tmdb_id": 386427,
                      "feature_id": "607934",
                      "year": "2016",
                      "title_aka": [
                        "Kshanam"
                      ],
                      "subtitles_counts": {
                        "en": 1,
                        "ml": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2016-kshanam",
                      "img_url": "https://s9.osdb.link/features/4/3/9/607934.jpg"
                    }
                  },
                  {
                    "id": "702301",
                    "type": "movie",
                    "attributes": {
                      "title": "Uri: The Surgical Strike",
                      "original_title": "Uri: The Surgical Strike",
                      "imdb_id": 8291224,
                      "tmdb_id": 554600,
                      "feature_id": "702301",
                      "year": "2019",
                      "title_aka": [
                        "Uri: The Surgical Strike"
                      ],
                      "subtitles_counts": {
                        "en": 14,
                        "ro": 7,
                        "tr": 6,
                        "ml": 5,
                        "ta": 4,
                        "he": 3,
                        "hi": 3,
                        "id": 3,
                        "fa": 3,
                        "es": 3,
                        "bn": 2,
                        "nl": 2,
                        "de": 2,
                        "hu": 2,
                        "ms": 2,
                        "pl": 2,
                        "sk": 2,
                        "ar": 1,
                        "bs": 1,
                        "bg": 1,
                        "gl": 1,
                        "el": 1,
                        "hr": 1,
                        "it": 1,
                        "kn": 1,
                        "te": 1,
                        "th": 1,
                        "vi": 1,
                        "pt-BR": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-uri-the-surgical-strike",
                      "img_url": "https://s9.osdb.link/features/1/0/3/702301.jpg"
                    }
                  },
                  {
                    "id": "996408",
                    "type": "movie",
                    "attributes": {
                      "title": "In the Shadow of the Moon",
                      "original_title": "In the Shadow of the Moon",
                      "imdb_id": 8110640,
                      "tmdb_id": 530382,
                      "feature_id": "996408",
                      "year": "2019",
                      "title_aka": [
                        "Στη Σκιά του Φεγγαριού",
                        " In the Shadow of the Moon",
                        " בצל הירח",
                        " All'ombra della luna",
                        " В тени Луны"
                      ],
                      "subtitles_counts": {
                        "hr": 7,
                        "en": 6,
                        "bg": 4,
                        "es": 4,
                        "hu": 3,
                        "sr": 3,
                        "ro": 3,
                        "ar": 2,
                        "he": 2,
                        "pl": 2,
                        "pt-PT": 2,
                        "sv": 2,
                        "pt-BR": 2,
                        "zh-CN": 1,
                        "cs": 1,
                        "da": 1,
                        "nl": 1,
                        "fi": 1,
                        "fr": 1,
                        "de": 1,
                        "el": 1,
                        "hi": 1,
                        "id": 1,
                        "it": 1,
                        "ja": 1,
                        "ko": 1,
                        "no": 1,
                        "ru": 1,
                        "sl": 1,
                        "th": 1,
                        "tr": 1,
                        "vi": 1,
                        "zh-TW": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-in-the-shadow-of-the-moon",
                      "img_url": "https://s9.osdb.link/features/8/0/4/996408.jpg"
                    }
                  },
                  {
                    "id": "641507",
                    "type": "movie",
                    "attributes": {
                      "title": "Captain Marvel",
                      "original_title": "Captain Marvel",
                      "imdb_id": 4154664,
                      "tmdb_id": 299537,
                      "feature_id": "641507",
                      "year": "2019",
                      "title_aka": [
                        "Captain Marvel",
                        " Capitana Marvel",
                        " Capitão Marvel",
                        " Капитан Марвел"
                      ],
                      "subtitles_counts": {
                        "en": 41,
                        "pt-BR": 19,
                        "hr": 18,
                        "ro": 17,
                        "pl": 16,
                        "es": 16,
                        "nl": 15,
                        "id": 15,
                        "pt-PT": 15,
                        "ar": 14,
                        "el": 14,
                        "fa": 14,
                        "hu": 12,
                        "it": 11,
                        "tr": 11,
                        "cs": 10,
                        "sr": 8,
                        "ko": 7,
                        "bg": 6,
                        "he": 6,
                        "zh-CN": 5,
                        "zh-TW": 5,
                        "fr": 4,
                        "de": 4,
                        "ja": 4,
                        "ms": 4,
                        "ru": 4,
                        "sv": 4,
                        "fi": 3,
                        "gl": 3,
                        "hi": 3,
                        "no": 3,
                        "ta": 3,
                        "vi": 3,
                        "bn": 2,
                        "da": 2,
                        "mk": 2,
                        "ml": 2,
                        "sl": 2,
                        "ur": 2,
                        "bs": 1,
                        "my": 1,
                        "ca": 1,
                        "et": 1,
                        "te": 1,
                        "th": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-captain-marvel",
                      "img_url": "https://s9.osdb.link/features/7/0/5/641507.jpg"
                    }
                  },
                  {
                    "id": "767765",
                    "type": "movie",
                    "attributes": {
                      "title": "Parasite",
                      "original_title": "기생충",
                      "imdb_id": 6751668,
                      "tmdb_id": 496243,
                      "feature_id": "767765",
                      "year": "2019",
                      "title_aka": [
                        "Parasite",
                        " 기생충",
                        " Паразиты",
                        " Asalak"
                      ],
                      "subtitles_counts": {
                        "es": 20,
                        "pt-BR": 20,
                        "en": 17,
                        "tr": 16,
                        "ar": 14,
                        "ro": 12,
                        "el": 11,
                        "hr": 11,
                        "pl": 11,
                        "cs": 10,
                        "pt-PT": 10,
                        "bs": 9,
                        "fr": 8,
                        "id": 8,
                        "ms": 8,
                        "he": 7,
                        "it": 7,
                        "sr": 7,
                        "bg": 6,
                        "nl": 6,
                        "fi": 6,
                        "hu": 6,
                        "ru": 6,
                        "sv": 5,
                        "et": 4,
                        "ml": 4,
                        "fa": 4,
                        "sl": 4,
                        "zh-TW": 4,
                        "de": 3,
                        "vi": 3,
                        "bn": 2,
                        "lt": 2,
                        "ta": 2,
                        "af": 1,
                        "sq": 1,
                        "ca": 1,
                        "zh-CN": 1,
                        "hi": 1,
                        "is": 1,
                        "ja": 1,
                        "mk": 1,
                        "si": 1,
                        "te": 1,
                        "tl": 1,
                        "tk": 1,
                        "ze": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-gisaengchung",
                      "img_url": "https://s9.osdb.link/features/5/6/7/767765.jpg"
                    }
                  },
                  {
                    "id": "660067",
                    "type": "movie",
                    "attributes": {
                      "title": "Aladdin",
                      "original_title": "Aladdin",
                      "imdb_id": 6139732,
                      "tmdb_id": 420817,
                      "feature_id": "660067",
                      "year": "2019",
                      "title_aka": [
                        "علاء الدين",
                        " Аладин",
                        " Aladin",
                        " Aladdin",
                        " Αλαντίν",
                        " Aladdín",
                        " אלאדין",
                        " アラジン",
                        " 알라딘",
                        " Aladinas",
                        " Aladins",
                        " Aladyn",
                        " Аладдин",
                        " อะลาดิน",
                        " Аладдін",
                        " 阿拉丁"
                      ],
                      "subtitles_counts": {
                        "en": 26,
                        "ar": 24,
                        "ro": 14,
                        "nl": 13,
                        "id": 12,
                        "he": 10,
                        "pt-BR": 10,
                        "fa": 9,
                        "pt-PT": 9,
                        "ko": 8,
                        "el": 7,
                        "hr": 7,
                        "hu": 7,
                        "ms": 7,
                        "sr": 7,
                        "tr": 7,
                        "fr": 6,
                        "ja": 6,
                        "es": 6,
                        "bn": 5,
                        "zh-CN": 4,
                        "cs": 4,
                        "bs": 3,
                        "bg": 3,
                        "it": 3,
                        "zh-TW": 3,
                        "fi": 2,
                        "hi": 2,
                        "kk": 2,
                        "mk": 2,
                        "ml": 2,
                        "pl": 2,
                        "ru": 2,
                        "sl": 2,
                        "th": 2,
                        "vi": 2,
                        "sq": 1,
                        "da": 1,
                        "et": 1,
                        "ka": 1,
                        "de": 1,
                        "no": 1,
                        "sv": 1,
                        "ta": 1,
                        "ur": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-aladdin",
                      "img_url": "https://s9.osdb.link/features/7/6/0/660067.jpg"
                    }
                  },
                  {
                    "id": "766983",
                    "type": "movie",
                    "attributes": {
                      "title": "Pain and Glory",
                      "original_title": "Dolor y gloria",
                      "imdb_id": 8291806,
                      "tmdb_id": 519010,
                      "feature_id": "766983",
                      "year": "2019",
                      "title_aka": [
                        "Болка и величие",
                        " Bolest a sláva",
                        " Smerte og ære",
                        " Leid und Herrlichkeit",
                        " Πόνος και Δόξα",
                        " Pain and Glory",
                        " Dolor y gloria",
                        " Kärsimys ja kunnia",
                        " Douleur et gloire",
                        " כאב ותהילה",
                        " Fájdalom és dicsőség",
                        " 페인 앤 글로리",
                        " Skausmas ir šlovė",
                        " Ból i blask",
                        " Боль и слава",
                        " Bolesť a sláva",
                        " Бол и слава",
                        " Smärta och ära",
                        " Acı ve Zafer",
                        " Біль та слава",
                        " 痛苦与荣耀"
                      ],
                      "subtitles_counts": {
                        "en": 17,
                        "pt-BR": 13,
                        "tr": 10,
                        "sr": 9,
                        "bg": 8,
                        "ro": 8,
                        "hu": 7,
                        "pt-PT": 7,
                        "he": 6,
                        "el": 5,
                        "it": 5,
                        "es": 5,
                        "ar": 4,
                        "fr": 4,
                        "pl": 4,
                        "nl": 3,
                        "hr": 3,
                        "bs": 2,
                        "no": 2,
                        "sk": 2,
                        "cs": 1,
                        "ko": 1,
                        "lt": 1,
                        "mk": 1,
                        "fa": 1,
                        "ru": 1,
                        "sv": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-dolor-y-gloria",
                      "img_url": "https://s9.osdb.link/features/3/8/9/766983.jpg"
                    }
                  },
                  {
                    "id": "587971",
                    "type": "movie",
                    "attributes": {
                      "title": "Aquaman",
                      "original_title": "Aquaman",
                      "imdb_id": 1477834,
                      "tmdb_id": 297802,
                      "feature_id": "587971",
                      "year": "2018",
                      "title_aka": [
                        "Aquaman"
                      ],
                      "subtitles_counts": {
                        "en": 49,
                        "ar": 27,
                        "id": 22,
                        "ro": 18,
                        "es": 17,
                        "tr": 17,
                        "pt-BR": 17,
                        "pl": 16,
                        "el": 15,
                        "hu": 15,
                        "ms": 15,
                        "nl": 14,
                        "it": 13,
                        "fa": 13,
                        "cs": 12,
                        "sr": 12,
                        "he": 9,
                        "pt-PT": 8,
                        "sv": 8,
                        "vi": 8,
                        "hi": 7,
                        "bg": 6,
                        "ru": 6,
                        "bn": 5,
                        "zh-CN": 5,
                        "de": 5,
                        "hr": 5,
                        "ja": 5,
                        "fr": 4,
                        "ko": 4,
                        "no": 4,
                        "sl": 4,
                        "zh-TW": 4,
                        "sq": 3,
                        "da": 3,
                        "fi": 3,
                        "ml": 3,
                        "bs": 2,
                        "et": 2,
                        "ta": 2,
                        "te": 2,
                        "af": 1,
                        "my": 1,
                        "lt": 1,
                        "mk": 1,
                        "si": 1,
                        "sk": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2018-aquaman",
                      "img_url": "https://s9.osdb.link/features/1/7/9/587971.jpg"
                    }
                  },
                  {
                    "id": "600082",
                    "type": "movie",
                    "attributes": {
                      "title": "Suicide Squad",
                      "original_title": "Suicide Squad",
                      "imdb_id": 1386697,
                      "tmdb_id": 297761,
                      "feature_id": "600082",
                      "year": "2016",
                      "title_aka": [
                        "Suicide Squad"
                      ],
                      "subtitles_counts": {
                        "en": 35,
                        "ar": 33,
                        "ro": 30,
                        "tr": 27,
                        "id": 25,
                        "el": 22,
                        "pt-BR": 22,
                        "sr": 18,
                        "es": 17,
                        "he": 16,
                        "ms": 16,
                        "fa": 16,
                        "hu": 15,
                        "hr": 14,
                        "pl": 14,
                        "nl": 13,
                        "pt-PT": 13,
                        "ru": 12,
                        "cs": 11,
                        "sv": 9,
                        "bg": 7,
                        "fi": 7,
                        "hi": 7,
                        "ko": 7,
                        "no": 7,
                        "de": 6,
                        "da": 5,
                        "fr": 5,
                        "it": 5,
                        "ja": 5,
                        "sl": 5,
                        "zh-CN": 4,
                        "et": 3,
                        "ta": 3,
                        "vi": 3,
                        "zh-TW": 3,
                        "bn": 2,
                        "ml": 2,
                        "si": 2,
                        "th": 2,
                        "sq": 1,
                        "lt": 1,
                        "ur": 1,
                        "pm": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2016-suicide-squad",
                      "img_url": "https://s9.osdb.link/features/2/8/0/600082.jpg"
                    }
                  },
                  {
                    "id": "691949",
                    "type": "movie",
                    "attributes": {
                      "title": "Shazam!",
                      "original_title": "Shazam!",
                      "imdb_id": 448115,
                      "tmdb_id": 287947,
                      "feature_id": "691949",
                      "year": "2019",
                      "title_aka": [
                        "Шазам!",
                        " Shazam!",
                        " ¡Shazam!",
                        " שהאזאם!",
                        " 샤잠!",
                        " Shazam! 6 Güç",
                        " Шазам",
                        " 雷霆沙赞！"
                      ],
                      "subtitles_counts": {
                        "en": 20,
                        "ro": 14,
                        "ar": 13,
                        "hu": 13,
                        "es": 13,
                        "pt-BR": 12,
                        "el": 9,
                        "tr": 8,
                        "he": 7,
                        "hr": 7,
                        "id": 7,
                        "it": 7,
                        "sr": 7,
                        "ms": 6,
                        "pt-PT": 6,
                        "fa": 5,
                        "zh-CN": 4,
                        "nl": 4,
                        "de": 4,
                        "bg": 3,
                        "da": 3,
                        "hi": 3,
                        "pl": 3,
                        "ru": 3,
                        "bn": 2,
                        "cs": 2,
                        "fi": 2,
                        "fr": 2,
                        "ko": 2,
                        "sv": 2,
                        "vi": 2,
                        "et": 1,
                        "ka": 1,
                        "ja": 1,
                        "lt": 1,
                        "ml": 1,
                        "no": 1,
                        "sk": 1,
                        "sl": 1,
                        "ta": 1,
                        "tt": 1,
                        "te": 1,
                        "zh-TW": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-shazam",
                      "img_url": "https://s9.osdb.link/features/9/4/9/691949.jpg"
                    }
                  },
                  {
                    "id": "708908",
                    "type": "movie",
                    "attributes": {
                      "title": "Queen of Hearts",
                      "original_title": "Dronningen",
                      "imdb_id": 8378126,
                      "tmdb_id": 519465,
                      "feature_id": "708908",
                      "year": "2019",
                      "title_aka": [
                        "Queen of Hearts"
                      ],
                      "subtitles_counts": {
                        "ar": 3,
                        "bg": 3,
                        "nl": 3,
                        "en": 3,
                        "he": 3,
                        "pt-PT": 3,
                        "pt-BR": 3,
                        "pl": 2,
                        "sr": 2,
                        "zh-CN": 1,
                        "cs": 1,
                        "da": 1,
                        "fi": 1,
                        "el": 1,
                        "hu": 1,
                        "it": 1,
                        "ru": 1,
                        "sk": 1,
                        "sv": 1,
                        "tr": 1,
                        "ro": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-dronningen",
                      "img_url": "https://s9.osdb.link/features/8/0/9/708908.jpg"
                    }
                  },
                  {
                    "id": "639029",
                    "type": "movie",
                    "attributes": {
                      "title": "Hebbuli",
                      "original_title": "ಹೆಬ್ಬುಲಿ",
                      "imdb_id": 3962184,
                      "tmdb_id": 441862,
                      "feature_id": "639029",
                      "year": "2017",
                      "title_aka": [
                        "Hebbuli"
                      ],
                      "subtitles_counts": {
                        "en": 4,
                        "hy": 1,
                        "es": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2017-hebbuli",
                      "img_url": "https://s9.osdb.link/features/9/2/0/639029.jpg"
                    }
                  },
                  {
                    "id": "620571",
                    "type": "movie",
                    "attributes": {
                      "title": "Arjun Reddy",
                      "original_title": "అర్జున్ రెడ్డి",
                      "imdb_id": 7294534,
                      "tmdb_id": 473234,
                      "feature_id": "620571",
                      "year": "2017",
                      "title_aka": [
                        "Arjun Reddy",
                        " అర్జున్ రెడ్డి",
                        " Арджун Редди"
                      ],
                      "subtitles_counts": {
                        "en": 16,
                        "ml": 8,
                        "ta": 7,
                        "bn": 5,
                        "hi": 3,
                        "te": 3,
                        "es": 2,
                        "ar": 1,
                        "id": 1,
                        "ms": 1,
                        "fa": 1,
                        "si": 1,
                        "ur": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2017-arjun-reddy",
                      "img_url": "https://s9.osdb.link/features/1/7/5/620571.jpg"
                    }
                  },
                  {
                    "id": "630171",
                    "type": "movie",
                    "attributes": {
                      "title": "Dragon Ball Super: Broly",
                      "original_title": "ドラゴンボール超スーパー ブロリー",
                      "imdb_id": 7961060,
                      "tmdb_id": 503314,
                      "feature_id": "630171",
                      "year": "2018",
                      "title_aka": [
                        "ドラゴンボール超スーパー ブロリー",
                        " Dragon Ball Super: Broly",
                        " Dragon Ball Super : Broly",
                        " 드래곤볼 슈퍼: 브로리",
                        " Драконий жемчуг: Супер (Броли)"
                      ],
                      "subtitles_counts": {
                        "en": 16,
                        "fr": 8,
                        "hu": 8,
                        "it": 8,
                        "pt-PT": 8,
                        "ar": 7,
                        "ms": 5,
                        "es": 5,
                        "he": 4,
                        "id": 4,
                        "pl": 4,
                        "sr": 4,
                        "tr": 4,
                        "pt-BR": 4,
                        "hr": 3,
                        "ko": 2,
                        "zh-CN": 1,
                        "nl": 1,
                        "de": 1,
                        "el": 1,
                        "ja": 1,
                        "fa": 1,
                        "ru": 1,
                        "sk": 1,
                        "tl": 1,
                        "ro": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2018-dragon-ball-super-broly",
                      "img_url": "https://s9.osdb.link/features/1/7/1/630171.jpg"
                    }
                  },
                  {
                    "id": "574147",
                    "type": "movie",
                    "attributes": {
                      "title": "Alita: Battle Angel",
                      "original_title": "Alita: Battle Angel",
                      "imdb_id": 437086,
                      "tmdb_id": 399579,
                      "feature_id": "574147",
                      "year": "",
                      "title_aka": [
                        "Алита: Боен ангел",
                        " Alita - Battle Angel",
                        " Alita: Battle Angel",
                        " Alita : Battle Angel",
                        " Алита: Боевой Ангел"
                      ],
                      "subtitles_counts": {
                        "en": 44,
                        "ar": 27,
                        "ro": 16,
                        "pt-BR": 16,
                        "el": 15,
                        "pl": 14,
                        "es": 14,
                        "id": 13,
                        "tr": 13,
                        "fa": 11,
                        "hr": 10,
                        "pt-PT": 10,
                        "nl": 9,
                        "he": 9,
                        "vi": 8,
                        "fr": 7,
                        "ms": 7,
                        "sr": 7,
                        "cs": 6,
                        "hu": 6,
                        "bg": 5,
                        "et": 5,
                        "zh-CN": 4,
                        "fi": 4,
                        "ja": 4,
                        "ko": 4,
                        "no": 4,
                        "sv": 4,
                        "bn": 3,
                        "da": 3,
                        "it": 3,
                        "sl": 3,
                        "de": 2,
                        "hi": 2,
                        "ml": 2,
                        "ru": 2,
                        "si": 2,
                        "sk": 2,
                        "uk": 2,
                        "zh-TW": 2,
                        "an": 1,
                        "bs": 1,
                        "ta": 1,
                        "th": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/battle-angel",
                      "img_url": "https://s9.osdb.link/features/7/4/1/574147.jpg"
                    }
                  },
                  {
                    "id": "697559",
                    "type": "movie",
                    "attributes": {
                      "title": "Men in Black: International",
                      "original_title": "Men in Black: International",
                      "imdb_id": 2283336,
                      "tmdb_id": 479455,
                      "feature_id": "697559",
                      "year": "2019",
                      "title_aka": [
                        "Мъже в черно: Глобална заплаха",
                        " Men in Black: International",
                        " Men in Black : International",
                        " גברים בשחור",
                        " Люди в черном: Интернэшнл"
                      ],
                      "subtitles_counts": {
                        "en": 20,
                        "pl": 18,
                        "ar": 14,
                        "hr": 14,
                        "pt-BR": 13,
                        "cs": 12,
                        "ro": 12,
                        "hu": 11,
                        "nl": 10,
                        "es": 9,
                        "id": 8,
                        "sr": 8,
                        "tr": 8,
                        "el": 7,
                        "fa": 7,
                        "bg": 6,
                        "he": 6,
                        "it": 5,
                        "ms": 5,
                        "pt-PT": 5,
                        "zh-CN": 4,
                        "de": 4,
                        "mk": 4,
                        "et": 3,
                        "ko": 3,
                        "ru": 3,
                        "sl": 3,
                        "vi": 3,
                        "zh-TW": 3,
                        "fi": 2,
                        "kk": 2,
                        "bn": 1,
                        "da": 1,
                        "fr": 1,
                        "hi": 1,
                        "ja": 1,
                        "lt": 1,
                        "sk": 1,
                        "sv": 1,
                        "th": 1,
                        "uk": 1,
                        "ze": 1,
                        "pm": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-men-in-black-international",
                      "img_url": "https://s9.osdb.link/features/9/5/5/697559.jpg"
                    }
                  },
                  {
                    "id": "697717",
                    "type": "movie",
                    "attributes": {
                      "title": "Hobbs and Shaw",
                      "original_title": "Hobbs & Shaw",
                      "imdb_id": 6806448,
                      "tmdb_id": 384018,
                      "feature_id": "697717",
                      "year": "2019",
                      "title_aka": [
                        "Hobbs and Shaw"
                      ],
                      "subtitles_counts": {
                        "en": 43,
                        "ar": 36,
                        "hr": 36,
                        "id": 26,
                        "ro": 26,
                        "es": 19,
                        "fa": 18,
                        "tr": 18,
                        "sr": 17,
                        "he": 16,
                        "pt-BR": 15,
                        "el": 14,
                        "pl": 14,
                        "ms": 13,
                        "pt-PT": 12,
                        "bg": 11,
                        "cs": 11,
                        "sl": 11,
                        "nl": 10,
                        "hu": 8,
                        "zh-CN": 6,
                        "fi": 6,
                        "mk": 6,
                        "bn": 5,
                        "et": 5,
                        "ja": 5,
                        "hi": 4,
                        "it": 4,
                        "ko": 4,
                        "ru": 4,
                        "vi": 4,
                        "bs": 3,
                        "no": 3,
                        "sv": 3,
                        "az": 1,
                        "da": 1,
                        "fr": 1,
                        "de": 1,
                        "lv": 1,
                        "lt": 1,
                        "ml": 1,
                        "si": 1,
                        "sk": 1,
                        "so": 1,
                        "ta": 1,
                        "te": 1,
                        "ur": 1,
                        "zh-TW": 1,
                        "ze": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-hobbs-and-shaw",
                      "img_url": "https://s9.osdb.link/features/7/1/7/697717.jpg"
                    }
                  },
                  {
                    "id": "697969",
                    "type": "movie",
                    "attributes": {
                      "title": "Midsommar",
                      "original_title": "Midsommar",
                      "imdb_id": 8772262,
                      "tmdb_id": 530385,
                      "feature_id": "697969",
                      "year": "2019",
                      "title_aka": [
                        "Мидсомар",
                        " Slunovrat",
                        " Midsommar",
                        " Μεσοκαλόκαιρο",
                        " Midsommar - Loputon yö",
                        " מידסומר",
                        " Fehér éjszakák",
                        " Midsommar: il villaggio dei dannati",
                        " 미드소마",
                        " Saulės kultas",
                        " Midsommar. W biały dzień",
                        " Midsommar: O Ritual",
                        " Солнцестояние",
                        " Slnovrat",
                        " Фестивал страха",
                        " เทศกาลสยอง",
                        " Ritüel",
                        " Сонцестояння",
                        " 仲夏夜惊魂"
                      ],
                      "subtitles_counts": {
                        "en": 23,
                        "pt-BR": 16,
                        "pl": 13,
                        "el": 10,
                        "ar": 8,
                        "hu": 8,
                        "it": 5,
                        "sv": 5,
                        "bg": 4,
                        "cs": 4,
                        "id": 4,
                        "es": 4,
                        "tr": 4,
                        "nl": 3,
                        "fi": 3,
                        "fr": 3,
                        "he": 3,
                        "sr": 3,
                        "ro": 3,
                        "ko": 2,
                        "pt-PT": 2,
                        "ru": 2,
                        "vi": 2,
                        "ca": 1,
                        "da": 1,
                        "et": 1,
                        "de": 1,
                        "hr": 1,
                        "ja": 1,
                        "no": 1,
                        "fa": 1,
                        "sk": 1,
                        "sl": 1,
                        "zh-TW": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-midsommar",
                      "img_url": "https://s9.osdb.link/features/9/6/9/697969.jpg"
                    }
                  },
                  {
                    "id": "758602",
                    "type": "movie",
                    "attributes": {
                      "title": "Crawl",
                      "original_title": "Crawl",
                      "imdb_id": 8364368,
                      "tmdb_id": 511987,
                      "feature_id": "758602",
                      "year": "2019",
                      "title_aka": [
                        "Crawl"
                      ],
                      "subtitles_counts": {
                        "ar": 20,
                        "en": 16,
                        "pt-BR": 9,
                        "cs": 8,
                        "pt-PT": 8,
                        "hr": 7,
                        "fa": 7,
                        "es": 7,
                        "tr": 7,
                        "ro": 7,
                        "el": 6,
                        "he": 6,
                        "hu": 6,
                        "sr": 6,
                        "sl": 6,
                        "nl": 5,
                        "fr": 4,
                        "pl": 4,
                        "sk": 4,
                        "bg": 3,
                        "fi": 3,
                        "id": 3,
                        "ms": 3,
                        "ru": 3,
                        "sv": 3,
                        "bn": 2,
                        "ko": 2,
                        "mk": 2,
                        "vi": 2,
                        "bs": 1,
                        "zh-CN": 1,
                        "da": 1,
                        "et": 1,
                        "de": 1,
                        "hi": 1,
                        "it": 1,
                        "ja": 1,
                        "kn": 1,
                        "ml": 1,
                        "si": 1,
                        "zh-TW": 1,
                        "pm": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-crawl",
                      "img_url": "https://s9.osdb.link/features/2/0/6/758602.jpg"
                    }
                  },
                  {
                    "id": "725993",
                    "type": "movie",
                    "attributes": {
                      "title": "Toy Story 4",
                      "original_title": "Toy Story 4",
                      "imdb_id": 1979376,
                      "tmdb_id": 301528,
                      "feature_id": "725993",
                      "year": "2019",
                      "title_aka": [
                        "Играта на играчките 4",
                        " Toy Story 4",
                        " צעצוע של סיפור 4",
                        " 토이 스토리 4",
                        " История игрушек 4",
                        " Історія іграшок 4",
                        " Oʻyinchoqlar tarixi 4",
                        " 玩具总动员4"
                      ],
                      "subtitles_counts": {
                        "en": 29,
                        "ar": 17,
                        "id": 14,
                        "cs": 11,
                        "pt-PT": 11,
                        "ro": 11,
                        "he": 9,
                        "pt-BR": 8,
                        "nl": 7,
                        "hr": 7,
                        "es": 7,
                        "fa": 6,
                        "el": 5,
                        "it": 5,
                        "sr": 5,
                        "sv": 5,
                        "tr": 5,
                        "ms": 4,
                        "zh-TW": 4,
                        "zh-CN": 3,
                        "fr": 3,
                        "hu": 3,
                        "pl": 3,
                        "bg": 2,
                        "fi": 2,
                        "ja": 2,
                        "ko": 2,
                        "vi": 2,
                        "ca": 1,
                        "da": 1,
                        "et": 1,
                        "de": 1,
                        "mk": 1,
                        "ru": 1,
                        "si": 1,
                        "sl": 1,
                        "ze": 1
                      },
                      "url": "https://www.opensubtitles.com/en/movies/2019-toy-story-4",
                      "img_url": "https://s9.osdb.link/features/3/9/9/725993.jpg"
                    }
                  }
                ]
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/api/v1/discover/most_downloaded": {
      "get": {
        "tags": [
          "Discover"
        ],
        "summary": "Most downloaded subtitles",
        "description": "Discover popular subtitles, according to last 30 days downloads on opensubtitles.com. This list can be filtered by language code or feature type (movie, episode)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "All, or language code",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type (movie or tvshow)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists most downloaded movie subtitles ",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "total_pages": {
                  "type": "number"
                },
                "total_count": {
                  "type": "number"
                },
                "page": {
                  "type": "number"
                },
                "data": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "items": {
                    "required": [
                      "id",
                      "type"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      },
                      "type": {
                        "type": "string",
                        "minLength": 1
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "subtitle_id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "language": {
                            "type": "string",
                            "minLength": 1
                          },
                          "download_count": {
                            "type": "number"
                          },
                          "new_download_count": {
                            "type": "number"
                          },
                          "hearing_impaired": {
                            "type": "boolean"
                          },
                          "hd": {
                            "type": "boolean"
                          },
                          "format": {},
                          "fps": {
                            "type": "number"
                          },
                          "votes": {
                            "type": "number"
                          },
                          "points": {
                            "type": "number"
                          },
                          "ratings": {
                            "type": "number"
                          },
                          "from_trusted": {
                            "type": "boolean"
                          },
                          "foreign_parts_only": {
                            "type": "boolean"
                          },
                          "auto_translation": {
                            "type": "boolean"
                          },
                          "ai_translated": {
                            "type": "boolean"
                          },
                          "machine_translated": {},
                          "upload_date": {
                            "type": "string",
                            "minLength": 1
                          },
                          "release": {
                            "type": "string",
                            "minLength": 1
                          },
                          "comments": {
                            "type": "string"
                          },
                          "legacy_subtitle_id": {
                            "type": "number"
                          },
                          "uploader": {
                            "type": "object",
                            "properties": {
                              "uploader_id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "rank": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "required": [
                              "uploader_id",
                              "name",
                              "rank"
                            ]
                          },
                          "feature_details": {
                            "type": "object",
                            "properties": {
                              "feature_id": {
                                "type": "number"
                              },
                              "feature_type": {
                                "type": "string",
                                "minLength": 1
                              },
                              "year": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string",
                                "minLength": 1
                              },
                              "movie_name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "imdb_id": {
                                "type": "number"
                              },
                              "tmdb_id": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "feature_id",
                              "feature_type",
                              "year",
                              "title",
                              "movie_name",
                              "imdb_id",
                              "tmdb_id"
                            ]
                          },
                          "url": {
                            "type": "string",
                            "minLength": 1
                          },
                          "related_links": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string",
                                "minLength": 1
                              },
                              "url": {
                                "type": "string",
                                "minLength": 1
                              },
                              "img_url": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "required": [
                              "label",
                              "url",
                              "img_url"
                            ]
                          },
                          "files": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "required": [
                                "file_id",
                                "cd_number",
                                "file_name"
                              ],
                              "properties": {
                                "file_id": {
                                  "type": "number"
                                },
                                "cd_number": {
                                  "type": "number"
                                },
                                "file_name": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              }
                            }
                          }
                        },
                        "required": [
                          "subtitle_id",
                          "language",
                          "download_count",
                          "new_download_count",
                          "hearing_impaired",
                          "hd",
                          "fps",
                          "votes",
                          "points",
                          "ratings",
                          "from_trusted",
                          "foreign_parts_only",
                          "auto_translation",
                          "ai_translated",
                          "upload_date",
                          "release",
                          "comments",
                          "legacy_subtitle_id",
                          "uploader",
                          "feature_details",
                          "url",
                          "related_links",
                          "files"
                        ]
                      }
                    }
                  }
                }
              },
              "required": [
                "total_pages",
                "total_count",
                "page",
                "data"
              ]
            },
            "headers": {},
            "examples": {
              "application/json": {
                "total_pages": 1,
                "total_count": 46,
                "page": 1,
                "data": [
                  {
                    "id": "493023",
                    "type": "subtitle",
                    "attributes": {
                      "subtitle_id": "493023",
                      "language": "nl",
                      "download_count": 3889,
                      "new_download_count": 11,
                      "hearing_impaired": false,
                      "hd": false,
                      "format": null,
                      "fps": 29.97,
                      "votes": 0,
                      "points": 0,
                      "ratings": 0,
                      "from_trusted": false,
                      "foreign_parts_only": false,
                      "auto_translation": false,
                      "ai_translated": false,
                      "machine_translated": null,
                      "upload_date": "2010-11-15T14:55:39Z",
                      "release": "Major League WS DVDRip",
                      "comments": "",
                      "legacy_subtitle_id": 3956266,
                      "uploader": {
                        "uploader_id": 3282,
                        "name": "COF7CJpS",
                        "rank": "app developer"
                      },
                      "feature_details": {
                        "feature_id": 518105,
                        "feature_type": "Movie",
                        "year": 1989,
                        "title": "Major League",
                        "movie_name": "1989 - Major League",
                        "imdb_id": 97815,
                        "tmdb_id": 9942
                      },
                      "url": "https://www.opensubtitles.com/nl/subtitles/legacy/3956266",
                      "related_links": {
                        "label": "All subtitles for Major League",
                        "url": "https://www.opensubtitles.com/nl/movies/1989-major-league",
                        "img_url": "https://s9.osdb.link/features/5/0/1/518105.jpg"
                      },
                      "files": [
                        {
                          "file_id": 544077,
                          "cd_number": 1,
                          "file_name": "Major League WS DVDRip.srt"
                        }
                      ]
                    }
                  },
                  {
                    "id": "496423",
                    "type": "subtitle",
                    "attributes": {
                      "subtitle_id": "496423",
                      "language": "es",
                      "download_count": 674,
                      "new_download_count": 5,
                      "hearing_impaired": false,
                      "hd": false,
                      "format": null,
                      "fps": 29.97,
                      "votes": 0,
                      "points": 0,
                      "ratings": 0,
                      "from_trusted": false,
                      "foreign_parts_only": false,
                      "auto_translation": false,
                      "ai_translated": false,
                      "machine_translated": null,
                      "upload_date": "2008-03-23T21:04:04Z",
                      "release": "Le mépris",
                      "comments": "",
                      "legacy_subtitle_id": 3264195,
                      "uploader": {
                        "uploader_id": 3282,
                        "name": "COF7CJpS",
                        "rank": "app developer"
                      },
                      "feature_details": {
                        "feature_id": 518020,
                        "feature_type": "Movie",
                        "year": 1963,
                        "title": "Contempt",
                        "movie_name": "1963 - Contempt",
                        "imdb_id": 57345,
                        "tmdb_id": 266
                      },
                      "url": "https://www.opensubtitles.com/es/subtitles/legacy/3264195",
                      "related_links": {
                        "label": "All subtitles for Contempt",
                        "url": "https://www.opensubtitles.com/es/movies/1963-contempt",
                        "img_url": "https://s9.osdb.link/features/0/2/0/518020.jpg"
                      },
                      "files": [
                        {
                          "file_id": 6028018,
                          "cd_number": 1,
                          "file_name": "Le mepris-es.srt"
                        }
                      ]
                    }
                  },
                  {
                    "id": "495449",
                    "type": "subtitle",
                    "attributes": {
                      "subtitle_id": "495449",
                      "language": "pt-BR",
                      "download_count": 189,
                      "new_download_count": 1,
                      "hearing_impaired": false,
                      "hd": false,
                      "format": null,
                      "fps": 23.976,
                      "votes": 0,
                      "points": 0,
                      "ratings": 0,
                      "from_trusted": false,
                      "foreign_parts_only": false,
                      "auto_translation": false,
                      "ai_translated": false,
                      "machine_translated": null,
                      "upload_date": "2012-07-14T19:47:18Z",
                      "release": "Gnger Snaps",
                      "comments": "",
                      "legacy_subtitle_id": 4617243,
                      "uploader": {
                        "uploader_id": 3282,
                        "name": "COF7CJpS",
                        "rank": "app developer"
                      },
                      "feature_details": {
                        "feature_id": 518342,
                        "feature_type": "Movie",
                        "year": 2000,
                        "title": "Ginger Snaps",
                        "movie_name": "2000 - Ginger Snaps",
                        "imdb_id": 210070,
                        "tmdb_id": 9871
                      },
                      "url": "https://www.opensubtitles.com/pt-BR/subtitles/legacy/4617243",
                      "related_links": {
                        "label": "All subtitles for Ginger Snaps",
                        "url": "https://www.opensubtitles.com/pt-BR/movies/2000-ginger-snaps",
                        "img_url": "https://s9.osdb.link/features/2/4/3/518342.jpg"
                      },
                      "files": [
                        {
                          "file_id": 546827,
                          "cd_number": 1,
                          "file_name": "Ginger Snaps [2000] DvDrip [Eng] Bugz.srt"
                        }
                      ]
                    }
                  },
                  {
                    "id": "496964",
                    "type": "subtitle",
                    "attributes": {
                      "subtitle_id": "496964",
                      "language": "es",
                      "download_count": 1190,
                      "new_download_count": 7,
                      "hearing_impaired": false,
                      "hd": false,
                      "format": null,
                      "fps": 23.976,
                      "votes": 1,
                      "points": 10,
                      "ratings": 10,
                      "from_trusted": false,
                      "foreign_parts_only": false,
                      "auto_translation": false,
                      "ai_translated": false,
                      "machine_translated": null,
                      "upload_date": "2012-05-18T00:13:46Z",
                      "release": "1963.El desprecio (subt)",
                      "comments": "",
                      "legacy_subtitle_id": 4552383,
[...]
